.container {
	width: 800px;
	margin: auto;
	position: relative;
	padding: 0 15px;
}

.navbar {
	background-color: rgb(137, 253, 137);
	padding: 10px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

a {
	text-decoration: none;
	margin-right: 40px;
	color: rgba(0, 0, 0, 0.7);
}
a.active {
	color: black;
}

.box {
	width: 50%;
	margin: 50px auto;
	border: 4px solid #bbb;
	border-radius: 5px;
	padding: 30px;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	/* width: 80%;
    margin: 0 auto 25px auto; */
	display: block;
	background-color: transparent;
	outline: none;
	margin-bottom: 30px;
	border: none;
	border-bottom: 2px solid #aaa;
}

button {
	background-color: rgb(137, 253, 137);
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 0.5rem;
}
table {
	width: 80%;
	margin: 50px auto;
}

tr {
	display: flex;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
}
tbody tr.active {
	background-color: lightgreen;
}
/* tbody tr::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: black;
	transition: 0.5s;
	transform-origin: center;
	transform: scale(0);
} */
/* tbody tr.active::before {
	transform: scale(1);
	z-index: 1111;
} */

table td {
	border-bottom: 2px solid #b1b1b1;
	padding: 0.85rem;
	flex: 1;
}
i {
	cursor: pointer;
	margin: 0 3px;
	text-align: center;
}
i.fa-trash-alt {
	color: red;
}
i.fa-edit {
	color: rgba(5, 125, 172, 0.89);
}
.popup {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
.popup.visible {
	visibility: visible;
	opacity: 1;
	z-index: 11111111;
}
.popup .popBox {
	width: 25%;
	height: 330px;
	background-color: #277da1;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}

.popup input {
	width: 80%;
	margin: 0 auto 25px auto;
	display: block;
	background-color: transparent;
	border-bottom: 2px solid white;
	color: white;
}
.popup input[type="date"]::-webkit-calendar-picker-indicator {
	color: white;
}
.popup input::placeholder {
	color: white;
}

.popup button {
	width: 80%;
	margin: auto;
	display: block;
	background-color: white;
}

.popup .popBox.visible {
	top: 20%;
	opacity: 1;
	visibility: visible;
}
.popup i {
	color: white;
	margin: 15px;
	margin-left: 90%;
}
.popup .message {
	width: 80%;
	background-color: red;
	color: white;
	padding: 5px;
	margin: 0 auto 20px auto;
}

@media (max-width: 576px) {
	.container {
		width: 450px;
	}
	.popup .popBox {
		width: 80%;
	}
}
